<ul class='socials'>
        <li>
          <a href='https://github.com/mergefailure'>
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li>
          <a href='http://twitter.com/mergefailure'>
            <i class='fab fa-twitter'></i>
          </a>
        </li>
        <li>
          <a href='https://medium.com/@mergefailure'>
            <i class='fab fa-medium-m'></i>
          </a>
        </li>
        <li>
          <a href='https://www.youtube.com/channel/UCpz6_aKbLsSjd-V03QPyl0A'>
            <i class="fab fa-youtube-square"></i>
          </a>
        </li>
      </ul>

